[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
"discord.py" = {extras = ["voice"], version = "*"}
ffmpeg-python = "*"
aiofiles = "*"
perflint = "*"
openai = "*"
aiofile = "*"
python-dotenv = "*"
sqlalchemy = {extras = ["asyncio"], version = "*"}
asyncpg = "*"
types-cachetools = "*"
cachetools = "*"
asyncache = "*"
tzdata = "*"

[dev-packages]
autopep8 = "*"
pylama = "*"
types-aiofiles = "*"
pytest-async-sqlalchemy = "*"
pytest-asyncio = "*"
ruff = "*"
black = "*"

[requires]
python_version = "3.10"

[pipenv]
allow_prereleases = true
