[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
"discord.py" = {extras = ["voice"] }
ffmpeg-python = "*"
aiofiles = "*"
perflint = "*"
openai = "*"
aiofile = "*"
python-dotenv = "*"
sqlalchemy = {extras = ["asyncio"] }
asyncpg = "*"
types-cachetools = "*"
cachetools = "*"
asyncache = "*"
tzdata = "*"
human-readable = "*"
python-dateutil = "*"
pytz = "*"

[dev-packages]
autopep8 = "*"
pylama = "*"
types-aiofiles = "*"
pytest-async-sqlalchemy = "*"
pytest-asyncio = "*"
ruff = "*"
black = "*"
mypy = "*"
pylint = "*"

[requires]
python_version = "3.11"

[pipenv]
allow_prereleases = true
