[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
"discord.py" = {extras = ["voice"], version = "*"}
ffmpeg-python = "*"
aiofiles = "*"
perflint = "*"
pytz = "*"
openai = "*"
aiofile = "*"

[dev-packages]
autopep8 = "*"
pylama = "*"
types-aiofiles = "*"

[requires]
python_version = "3.10"

[pipenv]
allow_prereleases = true
